*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    max-width: 100vw;
    min-height: 100vh; 
}

#wrapper{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(90deg, rgba(0, 212, 206, 1) 0%, rgba(177, 130, 238, 1) 100%);;
}

.container{
    width: 90%;
    max-width: 450px;
    height: 100%;
}

.heading-container{
    width: 100%;
}

.heading{
    color: whitesmoke;
    text-align: center;
    line-height: 1.2;
}

.display-container{
    width: 100%;
    max-width: 450px;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkslateblue;
    border-radius: 14px;
    padding-top: 0.35rem;
    border-bottom-style: solid;
    border-bottom-color: darkviolet;
    border-bottom-width: 5px;
    padding: 1.15rem 1.5rem;
    position: relative;
}

.password{
    color :darkgoldenrod;
    letter-spacing: 0.4px;
}

.copy-btn{
    appearance: none;
    background: none;
    border: none;
}

.copy-btn:hover{
    cursor: pointer;
}

.generate-container{
    padding: 2rem;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    background-color: darkslateblue;
    border-radius: 14px;
    border-bottom-style: solid;
    border-bottom-color: darkviolet;
    border-bottom-width: 5px;
}

.length-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-class{
    width: 100%;
}

.slider{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.length{
    color: whitesmoke;
    letter-spacing: 0.4px;
    font-size: 1.4rem;
}

.password-length{
    color:yellow;
    font-size: 1.4rem;
}

.check {
    color: whitesmoke;
    font-size: 1.25rem;
    letter-spacing: 0.7px;
    font-weight: 548;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    gap: 0 1rem;
}

.first{
    margin-top: 0.75rem;
}

label{
    cursor: pointer;
}

.strength-container{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    color: whitesmoke;
    letter-spacing: 0.4px;
    font-size: 1.4rem;
}

.generate-password{
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem 0;
    border-radius: 10px;
    color: yellow;
    background-color: darkorchid;
    cursor: pointer;
    border : none;
    border-bottom-style: solid;
    border-bottom-color: gold;
    border-bottom-width: 5px;
    letter-spacing: 1px;
}

.strength-indicator{
    border-radius: 50%;
    background-color:  whitesmoke;
    width: 25px;
    height: 25px;
    box-shadow: 0 0 7px 3px whitesmoke;
}

.strong-password{
    background-color: rgb(21, 240, 21);
    box-shadow: 0 0 7px 3px rgb(21, 240, 21);
}

.medium-password{
    background-color: yellow;
    box-shadow: 0 0 7px 3px yellow;
}

.weak-password{
    background-color: red;
    box-shadow: 0 0 7px 3px red;
}

.copy-txt{
    scale: 0;
    background-color: darkviolet;
    padding: 5px 11px;
    border-radius: 13px;
    color: yellow;
    letter-spacing: 0.4px;
    position: absolute;
    translate: 367px -36px;
}

.copy-txt.active{
    scale: 1;
}

.include-box{
    appearance: none;
    width: 20px;
    height: 20px;
    border: solid cyan 1px;
    border-radius: 4px;
    background-color: darkslateblue;
    position: relative;
    cursor: pointer;
}

.include-box:checked{
    background-color: cyan;
}

.include-box:checked::before{
    content: '✔';
    position: absolute;
    translate: 2.5px -2.8px;
    font-weight: 600;
    font-size: 1.05rem;
}

.slider{
    appearance: none;
    border-radius: 14px;
    height: 0.75rem;
    cursor: pointer;
    background: hsl(268, 47%, 21%);
    background-image: linear-gradient(hsl(285, 91%, 52%),hsl(285, 91%, 52%));
    background-repeat: no-repeat;
}

.slider::-webkit-slider-thumb{
    appearance: none;
    position: relative;
    background-color: yellow;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    box-shadow: 0 0 5px 1px yellow;
    transition: all 100ms ease-in;

}

.slider:focus{
    outline: yellow solid 2px;
}

.slider::-webkit-slider-thumb:hover{
    background-color: hsl(268, 75%, 9%);
    outline: yellow solid 2px;
    box-shadow: 0 0 20px 4px yellow;
}